// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background: blue;
}

.answer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background: gray;
}

.link {
  margin:auto;
  width: 30%;
}
